.carrito {
    padding: 32px;
    right: 0px;
    top: 0px;
    width: 100%;
}

.totales {
    text-align: center;
    margin: 2%;
}

.carrito img {
    aspect-ratio: 16/9;
    width: 80%;
}
table {
    width: 100%;
 }
 th, td {
    border-bottom: 1px solid black;
    width: 25%;
    text-align: left;
 }

.carrito button {
    border-radius: 5px;
    margin: 2%;
    padding: 2%;
}